// 공통값 변수 ==============================================================
$소제목 : 1.7rem;
$소소제목 : 1.4rem;
$강조글씨 : 1.2rem;
$일반글씨 : 1rem;
$참고글씨 : 0.8rem;

$연보라 : #cdb4db; //헤더 색상, 버튼2 선택색
$갈색 : #75472f; //제목 색상(부엉이 색상)
$연갈색 : #ba9378; //소제목 색상
$배경색 : #F5F7FA; //배경 색상

$진회색 : #5d576b; //버튼1 글씨색
$노랑색 : #ffd768; //버튼1 배경색

$분홍색 : #f8b3d8; //버튼2 배경색, 버튼2 글씨색은 검정

// Diary.js ==============================================================
.diary-wrapper{
  background-color: white;
  padding: 1rem;
  border-radius: 10px;

  div{
    margin: 0 0 1rem;
  }

  h2{
    font-size: $소제목;
    margin: 0 0 1rem;
    color: $연갈색;
    font-weight: bold;
  }

  label{
    font-size: $소소제목;
    color: $진회색;
  }

  p{
    color: $진회색;
  }

  .diary-text{
    font-size: $일반글씨;
    margin-left: 1rem;
  }
  .diary-input-weather{
    width: 20rem;
    margin: 0 1rem;
  }

  .diary-input-keyword{
    min-width: 0;
    width: 25rem;
  }

  .diary-input{
    width: 20rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .flex-div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .button-group{
    padding-top: 0.9rem;
  }

  button{
    margin-right: 0.3rem;
  }

  .diary-button{
    width: 8rem;
    white-space: nowrap;
    min-width: fit-content;
    background-color: $노랑색;
    color: $진회색;
    border-color: $배경색;
    font-weight: bold;
    
    &:hover {
      border-color: $배경색;
      color: white;
    }
  }

  .emotion-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    .emotion-label {
      font-weight: bold;
      margin-bottom: 0.25rem;
      font-size: $일반글씨;
    }
    .emotion-button-group {
      display: inline-flex;
      flex-wrap: nowrap;

      .btn-check:checked + .emotion-label {
        background-color: $분홍색;
        border-color: $배경색;
      }
    
      .btn-check:disabled + .emotion-label {
        opacity: 0.6;
        pointer-events: none;
      }
    }
  
    .emotion-label {
      background-color: $연보라;
      color: black;
      border-color: $배경색;
      
      &:hover {
        background-color: $연보라;
        border-color: $배경색;
        color: white;
      }
    }
  }

  .diary-text-area {
    margin: 0 0 1rem;
    width: 100%;
    font-size: $일반글씨;
    resize: vertical;
  }
}

// MypageList.js modal ==============================================================
.modal-wrapper{
  h1{
    font-size: $소제목;
    font-weight: bold;
    color: $연갈색;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
    padding: 5vh 15vw;
  }
  
  .custom-modal-size {
    width: 50vw;
    height: 80vh;
    max-width: none;
    max-height: 80%;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    height: 100%; // 전체 높이 확보


    .modal-diary{
      color: $진회색;
      padding: 2rem;

    }

    .modal-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-bottom: 1px solid #ccc;
    }

    .modal-footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-top: 1px solid #ccc;
    }
    
    .modal-body {
      flex: 1;
      overflow-y: auto;

      scrollbar-gutter: stable;
      box-sizing: border-box;

      scrollbar-width: thin;
      scrollbar-color: $연보라 #f0f0f0;
    
      &::-webkit-scrollbar {
        width: 10px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: $연보라;
        border-radius: 10px;
      }
    
      &::-webkit-scrollbar-track {
        background-color: #f0f0f0;
      }
      
      h2{
        font-size: $소소제목;
        padding-bottom: 0.5rem;
      }
          
      .modal-comment {
        padding: 1rem;
        border-top: 1px solid #ccc;
      }
    }
  } 
}

// Result.js ==============================================================
.result-wrapper {
  margin: 2rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;

  .content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .main-content {
    flex: 2;
    min-width: 33vw;
    max-width: 100vw;

    div{
      margin-bottom: 1rem;
    }

    h1{
      font-size: $소제목;
    }

    h2{
      font-size: $소소제목;
    }

    p{
      font-size: $일반글씨;
    }

    .diary-content {
      white-space: pre-wrap;
      border: 1px solid #ccc;
      padding: 1rem;
      border-radius: 8px;
      margin-bottom: 1rem;
    }

    .result-button{
      width: 8rem;
      white-space: nowrap;
      min-width: fit-content;
      background-color: $노랑색;
      color: $진회색;
      border-color: $배경색;
      font-weight: bold;
      
      &:hover {
        border-color: $배경색;
        color: white;
      }
    }
  }

  .side-content {
    flex: 1;
    align-self: flex-start;
    white-space: normal;
  }
}

// DustInfo.js WeatherInfo.js ======================================================
.info-wrapper{
  border: 1px solid #ccc; // ✅ 회색 테두리 추가
  border-radius: 8px;     // ✅ 모서리 둥글게
  padding: 1rem;          // ✅ 안쪽 여백
  margin-bottom: 1rem;    // ✅ 컴포넌트 간 간격
  width: 100%;
  max-width: auto;
  min-width: 30rem;

  p{
    font-size: $일반글씨;
  }

  h2{
    font-size: $소소제목;
  }

  .info-select{
    margin: 0 0.5rem;
  }
}

// CheckDiary.js CheckDiaryGuard.js ==============================================
.header-top-button { //직접 쓴 일기, AI 일기 버튼
  color: $진회색;
  font-weight: bold !important;
  margin: 0 0.5rem 0 0.5rem;
  
  &:hover {
    color: black;
  }
  &.active-link {
    background-color: $갈색;
    color: white;
    border-radius: 10px;

    &:hover {
     color:white;
     background-color: $연갈색; 
    }
  }
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #75472f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto 1rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// StatsData.js, MypageList.js =================================================
.info {
  margin: 2rem 1rem;
  width: 100%;

  .list-group{
    h1{
      font-size: $소소제목;
      font-weight: bold;
      color: $진회색;
      margin-bottom: 0;
    }

    p{
      font-size: $일반글씨;
      margin-bottom: 0;
    }

    .list-each{
      display: flex;
      justify-content: space-between;
      align-items: space-between;
      padding: 0.7rem;
    }

    :hover{
      cursor: pointer;
    }
  }

  &__title {
    font-size: $소제목;
    font-weight: bold;
    color: $연갈색;
    margin-bottom: 1rem;
  }

  &__card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 0.7rem;
    margin-bottom: 1rem;
    // width: 100%;
  }
}